{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href='{% static "user_paste/index.css" %}'>
<link rel="stylesheet" href='{% static "user_paste/main.css" %}'>
{% endblock %}

{% block content %}
<main>
    <div class="paste-list">
        <h2>Recent User Pastes</h2>
        <div class="hr-line"></div>
        <ul>
            {% for post in pastes %}
               {% include 'user_paste/includes/paste_card.html' %}
            {% endfor %}
        </ul>
    </div>
    <nav class="page-nav">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                    <li class="page-item"><a class="page-link active" href="?page={{ page }}">{{ page }}<a/></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{page}}">{{ page }}<a/></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item"><a class="page-link disabled" href="#">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</main>
{% endblock %}