{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href='{% static "user_paste/index.css" %}'>
<link rel="stylesheet" href='{% static "user_paste/main.css" %}'>
<link rel="stylesheet" href='{% static "user_paste/includes/header.css" %}'>
<link rel="stylesheet" href='{% static "user_paste/includes/footer.css" %}'>
{% endblock %}

{% block page_title %}
Pasta Paste
{% endblock %}

{% block content %}
{% include "user_paste/includes/header.html" %}
<main>
    <div class="paste-list">
        <h2>Recent User Pastes</h2>
        <div class="hr-line"></div>
        <ul class='paste-list-item'>
            {% for post in pastes %}
                <li>
                    <div class="paste-card">
                        <div class="paste-card-header">
                            <p>{{ post.post_title }} created by: {{ post.post_author.user_name }}</p>
                            <p><span class="paste-card-cat-type">{{ post.post_category }}</span> <span class="paste-card-cat-type">{{ post.post_type }}</span></p>
                        </div>
                        <div class="paste-card-footer">
                            <p>{{ post.post_description }}</p>
                            <p>Created On: {{post.post_created_date|date:"M d, Y" }} at {{post.post_created_date|date:"h:i A" }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% include "user_paste/includes/footer.html" %}
{% endblock %}
