.main-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 20vw;
    height: 5rem;
}

.nav-header {
    background-color: #a9a9a9;
    height: 5rem;
    margin-bottom: 1rem;
}

.main-nav-name,
.main-nav-link {
    display: inline;
}

.logo {
    display: inline-block;
    height: 60%;
}