<li>
    <div class="paste-card">
        <a href="">
            <div class="paste-card-header">
                <p>{{ post.post_title }} created by: {{ post.post_author.user_name }}</p>
                <p><span class="paste-card-cat-type">{{ post.post_category }}</span> <span class="paste-card-cat-type">{{post.post_type }}</span></p>
            </div>
            <div class="paste-card-footer">
                <p>{{ post.post_description }}</p>
                <p>Created On: {{post.post_created_date|date:"M d, Y" }} at {{post.post_created_date|date:"h:i A" }}</p>
            </div>
        </a>
    </div>
</li>