ul {
    list-style-type: none;
}

.paste-list {
    margin: 1rem;
    padding-top: 4rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card a {
    text-decoration: none;
    color: black;
}

.card {
    max-width: 50rem;
    margin: 2rem;
}

nav.page-nav {
    position: relative;
    left: 4rem;
}

.page-nav {
    padding: 1rem;
}