main {
    background-color: #fff;
    width: 60%;
    height: 100vh;
    margin: auto;
    border-radius: 6px;
}

.paste-list {
    margin: 1rem;
    padding-top: 4rem;
}

.paste-card {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1rem;
    margin: 1rem;
}

.paste-card-header {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.paste-card-footer {
    display: flex;
    justify-content: space-between;
}

.paste-card-cat-type {
    background: green;
    border-radius: 6px;
    padding: 0.3rem;
}

.paste-list-item {
    list-style-type: none;
}