main {
    background-color: #fff;
    padding: 3rem;
    width: 60%;
    min-height: 90vh;
    margin: auto;
    margin-top: 2rem;
    border-radius: 6px;
}

.card {
    margin: auto;
    width: 75%;
}

.title {
    display: flex;
    justify-content: space-between;
}