main {
    min-height: 100vh;
}

div[id^="hint_"] {
    display: none;
}

.signup-title {
    padding-top: 5rem;
    margin: 0 0.6rem;
}

.signup {
    margin: 1rem;
}

@media (min-width: 47rem) {
    input[id^="id_"] {
        max-width: 20rem;
    }

    .signup {
        width: 22rem;
        margin: auto;
    }
}