main {
    min-height: 100vh;
}

.asteriskField {
    display: none;
}

.paste-area-title {
    padding-top: 5rem;
    margin: 0 0.6rem;
}

.paste-area {
    margin: 1rem;
    height: 90vh;
}

textarea.textarea {
    height: 25vh;
    resize: none;
}

#id_post_description {
    max-width: 25rem;
}

#id_post_category, #id_post_type {
    display: inline;
    width: 15rem;
}