body {
    background: #b21807 !important;
    height: 100%;
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

main {
    background-color: #fff;
    width: 100vw;
    border-radius: 6px;
}

.asteriskField {
    display: none;
}


@media (min-width: 47rem) {
    main {
        width: 60%;
        margin: auto;
    }
}